<%- include('../comm/header.ejs') %>

<!-- 导入文本域的样式和js文件 -->
<link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css">
  <script src="/node_modules/mditor/dist/js/mditor.min.js"></script>
<div class="container">
<h1>编辑文章页</h1>
<hr>
<form action="">
    <!-- 隐藏域,用来存放文章id -->
    <input type="hidden" name="id" value="<%= article.id %>">
    <div class="form-group">
        <label>文章标题:</label>
        <input type="text" name="title" class="form-control" required value="<%= article.title %>">
    </div>

    <div class="form-group">
        <label>文章内容:</label>
        <textarea name="content" id="editor"><%= article.content %></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="编辑文章" class="btn btn-primary" >
    </div>
</form>
</div>
<script>
$(function(){
    //初始化markdown插件
    var mditor =  Mditor.fromTextarea(document.getElementById('editor'));



    $('form').on('submit',function(){

        $.ajax({
            url:'/articleEdit',
            type: 'post',
            data: $('form').serialize(),
            dataType: 'json',
            success:function(res){
                if(res.status !== 200){
                    return alert(res.msg);
                }
                location.href = '/articleInfo/'+res.articleId;
                // console.log(res);
            }
        })
        return false;
    })
})

</script>

<%- include('../comm/footer.ejs') %>